.checkbox {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: $primary-white-color;
  border: 2px solid $title-text-color;
  border-radius: 4px;

  .checkbox:checked + & {
    display: inline-block;
    background-color: $accent-color;
    background-image: url(../images/icon-check.svg);
    background-origin: border-box;
    background-size: contain;
    border-color: transparent;
    outline: none;
  }
}
.checkbox-link {
  color: $accent-color;
}
