.form-icon {
  position: absolute;
  top: 50%;
  transform: translateX(18px) translateY(-50%);
  fill: $title-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field:focus-within > & {
    fill: $accent-color;
  }
}
