.page-footer {
  background-color: $footer-grey-color;
}
.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
