$primary-text-color: #757575;
$title-text-color: #212121;
$additional-text-color: #f5f4fa;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$additional-grey-color: #e5e5e5;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-grey-color: #2f303a;
$hero-grey-color: rgba(47, 48, 58, 0.8);
$card-white-color: #eeeeee;
$header-border-color: #ececec;
$social-color: #afb1b8;
// FONTS
$primary-font: Roboto;
$secondary-font: Raleway;
